body{
	margin: 0px;
	background-color: black;
} a{
	text-decoration : none;
} a:hover{
	text-decoration : none;
}

#header{
	background-color: #212121;
	width: 450px;
	height: 50px;
} .menu{
	color: rgb(131 131 131);
	margin-top: 12px;
	margin-left: 40px;
} .menu:hover{
	color: white;
}

/*******  sender menu *********/
#main > .result-box{
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 20px;

	color: white;
} .parameter-input{
	margin-left: 20px;
} .parameter-name{
	width: 100px;
	max-width: 100px;
	word-break : break-all;
} .parameter-input-data, .parameter-input-param{
	background-color: #212121;
	color: #ADADAD;
	width: 250px;
} .parameter-input-param:focus{
	background-color: #212121;
	color: #ADADAD;
} .parameter-input-data:focus{
	background-color: #212121;
	color: #ADADAD;
} #add-parameter{
	margin-left: 10px;
	font-size: 15px;
	font-weight: bold;
} .send-data{
	margin-right: 15px;
	margin-bottom: 15px;
} .custom-control-label{
	color: white;
	margin-top: 7px;
} .no-result{
	text-align: center;
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
} .parameter-input-param{
	width: 100px;
}
/**********************/


/*******  En / Decode menu *********/
.convert-input > textarea, .convert-result > textarea {
	margin-left: 26px;
	margin-right: 26px;
	height: 150px;

	background-color: #212121;
	color: #ADADAD;
}
.option{
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 10px;
}
.text{
	margin-top: 15px;
	color: white;
}

/***********************************/